In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import spearmanr
from sklearn.compose import TransformedTargetRegressor
from sklearn.linear_model import LinearRegression

In [73]:
data_entrenamiento=pd.read_parquet("data_set_entrenamiento.parquet")

In [74]:
# Calculate Total_settlement_to_total_borrow
data_entrenamiento['Total_liquidation_to_total_borrow'] = data_entrenamiento['total_liquidation'] / data_entrenamiento['total_borrow']

In [75]:
# Save the DataFrame to a parquet file
data_entrenamiento.to_parquet("data_set_entrenamiento_transformado.parquet", index=False)

In [76]:
# save changes
data_entrenamiento=pd.read_parquet("data_set_entrenamiento_transformado.parquet")

In [77]:
data_entrenamiento.head(2)

,address,total_borrow,count_borrow,avg_borrow_amount,std_borrow_amount,first_borrow_date,token_borrow_mode,borrow_amount_cv,total_repay,count_repay,...,avg_liquidation_to_avg_borrow,dex_total_sum_added,dex_total_sum_removed,dex_total_sum_swapped,liquidated,calc_start_time,added_at,total_liquidation_to_total_borrow,__index_level_0__,Total_liquidation_to_total_borrow
0,0x3266424c9bee709ef24965b0ddfdc504cb382a2a,19.039084,18,1.057727,2.268998,2022-05-07,USDC,2.145165,0.100039,1.0,...,0.000000,0.0,0.0,0.0,0.0,2023-02-04 16:06:12.097,2023-02-04 16:09:32.485,0.000000,269840,0.000000
1,0xae26d5f10a1790c85b91fd79e18dd2de785d0636,0.140274,1,0.140274,0.000000,2022-08-02,usdc,0.000000,0.000000,0.0,...,0.970264,0.0,0.0,0.0,1.0,2023-03-01 16:06:24.346,2023-03-01 16:11:22.942,0.970264,723218,0.970264

In [78]:

data_evaluacion=pd.read_parquet("data_set_evaluacion.parquet")

In [79]:
data_evaluacion.head(2)

,total_borrow,count_borrow,avg_borrow_amount,std_borrow_amount,first_borrow_date,token_borrow_mode,borrow_amount_cv,total_repay,count_repay,avg_repay_amount,...,count_redeems_to_count_deposits,total_redeemed_to_total_deposits,avg_redeem_to_avg_deposit,net_deposits_to_total_deposits,net_deposits_to_total_redeemed,dex_total_sum_added,dex_total_sum_removed,dex_total_sum_swapped,calc_start_time,added_at
0,19.039084,18,1.057727,2.268998,2022-05-07,USDC,2.145165,0.100039,1.0,0.100039,...,0.032258,0.701785,21.755339,0.298215,0.424938,0.0,0.0,0.0,2023-02-04 16:06:12.097,2023-02-04 16:09:32.485
1,0.140274,1,0.140274,0.000000,2022-08-02,usdc,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.182521,0.0,0.0,0.0,2023-03-01 16:06:24.346,2023-03-01 16:11:22.942

In [80]:

# # 'avg_liquidation_to_avg_borrow' is the new column you want to create and fill with null values
data_evaluacion['Total_liquidation_to_total_borrow'] = None

In [81]:
data_evaluacion.head(2)

,total_borrow,count_borrow,avg_borrow_amount,std_borrow_amount,first_borrow_date,token_borrow_mode,borrow_amount_cv,total_repay,count_repay,avg_repay_amount,...,total_redeemed_to_total_deposits,avg_redeem_to_avg_deposit,net_deposits_to_total_deposits,net_deposits_to_total_redeemed,dex_total_sum_added,dex_total_sum_removed,dex_total_sum_swapped,calc_start_time,added_at,Total_liquidation_to_total_borrow
0,19.039084,18,1.057727,2.268998,2022-05-07,USDC,2.145165,0.100039,1.0,0.100039,...,0.701785,21.755339,0.298215,0.424938,0.0,0.0,0.0,2023-02-04 16:06:12.097,2023-02-04 16:09:32.485,None
1,0.140274,1,0.140274,0.000000,2022-08-02,usdc,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,1.000000,0.182521,0.0,0.0,0.0,2023-03-01 16:06:24.346,2023-03-01 16:11:22.942,None

In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import spearmanr
from sklearn.compose import TransformedTargetRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import joblib

# Load training data
data_entrenamiento = pd.read_parquet("data_set_entrenamiento.parquet")

# Calcular 'Total_liquidation_to_total_borrow'
data_entrenamiento['Total_liquidation_to_total_borrow'] = data_entrenamiento['total_liquidation'] / data_entrenamiento['total_borrow']

# Calculate 'Total_liquidation_to_total_borrow'
data_entrenamiento.to_parquet("data_set_entrenamiento_transformado.parquet", index=False)

# Reload the transformed data (optional)
data_entrenamiento = pd.read_parquet("data_set_entrenamiento_transformado.parquet")

# Seleccionar las columnas relevantes para el entrenamiento
columnas_entrenamiento = ['net_outstanding', 'net_outstanding_to_total_borrowed', 
                          'net_outstanding_to_total_repaid',  
                          'count_repays_to_count_borrows', 'Total_liquidation_to_total_borrow']

# Filter the DataFrame to select only the relevant columns
Modelo_ML_entrenamiento = data_entrenamiento[columnas_entrenamiento]

# Separar las características (X) y la variable objetivo (y)
X = Modelo_ML_entrenamiento.drop(columns=['Total_liquidation_to_total_borrow'])
y = Modelo_ML_entrenamiento['Total_liquidation_to_total_borrow']

# Split the data into training and test sets (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the linear regression model
modelo = LinearRegression()
modelo.fit(X_train, y_train)

# Predict the values ​​of the target variable in the test set
y_pred = modelo.predict(X_test)

# Calculate the RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Raíz del Error Cuadrático Medio (RMSE):", rmse)

# Save the trained model
joblib.dump(modelo, 'modelo_entrenado.pkl')

# Load the trained model
modelo_cargado = joblib.load('modelo_entrenado.pkl')

# Load evaluation data
data_evaluacion = pd.read_parquet("data_set_evaluacion.parquet")

# Select the same feature columns for the evaluation set
Modelo_ML_Evaluacion = data_evaluacion[columnas_entrenamiento[:-1]] # Excluding column 'Total_liquidation_to_total_borrow'

# Predict using the loaded model
predicciones = modelo_cargado.predict(Modelo_ML_Evaluacion)

# Assign the predictions to the 'Total_liquidation_to_total_borrow' column in the evaluation set
data_evaluacion['Total_liquidation_to_total_borrow'] = predicciones

# Guardar el DataFrame de evaluación con las predicciones
data_evaluacion.to_csv("data_set_evaluacion_con_predicciones.csv", index=False)

Raíz del Error Cuadrático Medio (RMSE): 0.2935330820271259