In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import spearmanr
from sklearn.compose import TransformedTargetRegressor
from sklearn.linear_model import LinearRegression

In [34]:
Modelo_ML=pd.read_parquet("data_set_modelo2.parquet")

In [35]:
# Calculate Total_settlement_to_total_borrow
Modelo_ML['Total_liquidation_to_total_borrow'] = Modelo_ML['total_liquidation'] / Modelo_ML['total_borrow']

In [36]:
# Save the DataFrame to a parquet file
Modelo_ML.to_parquet("Modelo_ML.parquet", index=False)

In [37]:
# save changes
Modelo_ML=pd.read_parquet("Modelo_ML.parquet")

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np
import joblib

# Select relevant columns for training
columnas_entrenamiento = ['net_outstanding', 'net_outstanding_to_total_borrowed', 
                          'net_outstanding_to_total_repaid',  
                          'count_repays_to_count_borrows', 'Total_liquidation_to_total_borrow']

# Filter the ML_Model DataFrame to select only the relevant columns
Modelo_ML_entrenamiento = Modelo_ML[columnas_entrenamiento]

# Separate the features (X) and the target variable (y)
X = Modelo_ML_entrenamiento.drop(columns=['Total_liquidation_to_total_borrow'])
y = Modelo_ML_entrenamiento['Total_liquidation_to_total_borrow']

# Split the data into training and test sets (e.g. 80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the linear regression model
modelo = LinearRegression()
modelo.fit(X_train, y_train)

# Predict the values ​​of the target variable in the test set
y_pred = modelo.predict(X_test)

# Calculate the RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Raíz del Error Cuadrático Medio (RMSE):", rmse)

Raíz del Error Cuadrático Medio (RMSE): 0.2935330820271259

In [39]:
import joblib

# Save the trained model
joblib.dump(modelo, 'modelo_entrenado.pkl')

# Load the trained model
modelo_cargado = joblib.load('modelo_entrenado.pkl')

In [40]:

Modelo_ML_Evaluacion=pd.read_parquet("data_set.parquet")

In [41]:
Modelo_ML_Evaluacion.head(2)

,total_borrow,count_borrow,avg_borrow_amount,std_borrow_amount,first_borrow_date,token_borrow_mode,borrow_amount_cv,total_repay,count_repay,avg_repay_amount,...,count_redeems_to_count_deposits,total_redeemed_to_total_deposits,avg_redeem_to_avg_deposit,net_deposits_to_total_deposits,net_deposits_to_total_redeemed,dex_total_sum_added,dex_total_sum_removed,dex_total_sum_swapped,calc_start_time,added_at
0,19.039084,18,1.057727,2.268998,2022-05-07,USDC,2.145165,0.100039,1.0,0.100039,...,0.032258,0.701785,21.755339,0.298215,0.424938,0.0,0.0,0.0,2023-02-04 16:06:12.097,2023-02-04 16:09:32.485
1,0.140274,1,0.140274,0.000000,2022-08-02,usdc,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.182521,0.0,0.0,0.0,2023-03-01 16:06:24.346,2023-03-01 16:11:22.942

In [42]:
import pandas as pd

# Create a new column avg_liquidation_to_avg_borrow filled with null values
Modelo_ML_Evaluacion['avg_liquidation_to_avg_borrow'] = None

In [43]:
Modelo_ML_Evaluacion

,total_borrow,count_borrow,avg_borrow_amount,std_borrow_amount,first_borrow_date,token_borrow_mode,borrow_amount_cv,total_repay,count_repay,avg_repay_amount,...,total_redeemed_to_total_deposits,avg_redeem_to_avg_deposit,net_deposits_to_total_deposits,net_deposits_to_total_redeemed,dex_total_sum_added,dex_total_sum_removed,dex_total_sum_swapped,calc_start_time,added_at,avg_liquidation_to_avg_borrow
0,19.039084,18,1.057727,2.268998,2022-05-07,USDC,2.145165,0.100039,1.0,0.100039,...,0.701785,21.755339,0.298215,0.424938,0.0,0.0,0.0,2023-02-04 16:06:12.097,2023-02-04 16:09:32.485,None
1,0.140274,1,0.140274,0.000000,2022-08-02,usdc,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,1.000000,0.182521,0.0,0.0,0.0,2023-03-01 16:06:24.346,2023-03-01 16:11:22.942,None
2,9.020736,1,9.020736,0.000000,2022-11-21,usdc,0.000000,0.000000,0.0,0.000000,...,0.354577,0.354577,0.645423,1.820265,0.0,0.0,0.0,2023-02-03 16:06:11.043,2023-02-03 16:18:48.896,None
3,20.050150,1,20.050150,0.000000,2022-08-27,USDC,0.000000,20.007832,1.0,20.007832,...,0.000000,0.000000,1.000000,78.856029,0.0,0.0,0.0,2023-02-05 16:06:16.899,2023-02-05 16:16:27.687,None
4,0.000100,1,0.000100,0.000000,2022-09-06,USDC,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,1.000000,13.051750,0.0,0.0,0.0,2023-01-18 21:18:42.947,2023-01-19 07:01:39.016,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783317,5673.737748,52,109.110341,440.707787,2022-02-15,DAI,4.039102,5646.140561,14.0,403.295754,...,0.117293,2.658641,0.882707,7.525658,0.0,0.0,0.0,2023-03-11 16:06:34.372,2023-03-11 16:13:39.605,None
783318,2.199273,2,1.099636,1.272564,2022-08-21,USDC,1.157259,0.000000,0.0,0.000000,...,0.000000,0.000000,1.000000,18.593884,0.0,0.0,0.0,2023-02-17 16:06:19.246,2023-02-17 16:19:22.727,None
783319,11.000000,1,11.000000,0.000000,2023-01-24,USDC,0.000000,11.000000,1.0,11.000000,...,0.000000,0.000000,1.000000,47.231908,0.0,0.0,0.0,2023-03-10 16:06:41.333,2023-03-10 16:25:49.709,None
783320,1.536912,19,0.080890,0.213954,2022-08-23,USDC,2.644995,0.280809,1.0,0.280809,...,0.533759,7.472624,0.466241,0.873505,0.0,0.0,0.0,2023-02-01 16:06:09.451,2023-02-01 16:21:01.692,None
783321,0.015812,1,0.015812,0.000000,2022-08-05,usdc,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,1.000000,0.033731,0.0,0.0,0.0,2023-02-19 16:06:16.842,2023-02-19 16:12:07.828,None

In [44]:
import joblib

# Load the trainer model
modelo_cargado = joblib.load('modelo_entrenado.pkl')

# Apply the model to the evaluation data set to make predictions
predicciones = modelo_cargado.predict(Modelo_ML_Evaluacion)

# Assign the predictions to the avg_liquidation_to_avg_borrow column in ML_Evaluation_Model
Modelo_ML_Evaluacion['avg_liquidation_to_avg_borrow'] = predicciones

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- added_at
- avg_borrow_amount
- avg_deposit_amount
- avg_liquidation_to_avg_borrow
- avg_redeem_amount
- ...

In [24]:
print(Modelo_ML_Evaluacion.columns)

Index(['total_borrow', 'count_borrow', 'avg_borrow_amount',
       'std_borrow_amount', 'first_borrow_date', 'token_borrow_mode',
       'borrow_amount_cv', 'total_repay', 'count_repay', 'avg_repay_amount',
       'std_repay_amount', 'repay_amount_cv', 'total_deposit', 'count_deposit',
       'avg_deposit_amount', 'std_deposit_amount', 'deposit_amount_cv',
       'total_redeem', 'count_redeem', 'avg_redeem_amount',
       'std_redeem_amount', 'redeem_amount_cv', 'days_since_first_borrow',
       'net_outstanding', 'int_paid', 'net_deposits',
       'count_repays_to_count_borrows', 'avg_repay_to_avg_borrow',
       'net_outstanding_to_total_borrowed', 'net_outstanding_to_total_repaid',
       'count_redeems_to_count_deposits', 'total_redeemed_to_total_deposits',
       'avg_redeem_to_avg_deposit', 'net_deposits_to_total_deposits',
       'net_deposits_to_total_redeemed', 'dex_total_sum_added',
       'dex_total_sum_removed', 'dex_total_sum_swapped', 'calc_start_time',
       'added_at'],
      dtype='object')

In [31]:
print(Modelo_ML_entrenamiento.columns)

Index(['net_outstanding', 'net_outstanding_to_total_borrowed',
       'net_outstanding_to_total_repaid', 'avg_liquidation_to_avg_borrow',
       'count_repays_to_count_borrows', 'Total_liquidation_to_total_borrow'],
      dtype='object')

In [32]:
print(Modelo_ML.columns)

Index(['address', 'total_borrow', 'count_borrow', 'avg_borrow_amount',
       'std_borrow_amount', 'first_borrow_date', 'token_borrow_mode',
       'borrow_amount_cv', 'total_repay', 'count_repay', 'avg_repay_amount',
       'std_repay_amount', 'repay_amount_cv', 'total_deposit', 'count_deposit',
       'avg_deposit_amount', 'std_deposit_amount', 'deposit_amount_cv',
       'total_redeem', 'count_redeem', 'avg_redeem_amount',
       'std_redeem_amount', 'redeem_amount_cv', 'total_liquidation',
       'count_liquidation', 'avg_liquidation_amount', 'std_liquidation_amount',
       'liquidation_amount_cv', 'days_since_first_borrow', 'net_outstanding',
       'int_paid', 'net_deposits', 'count_repays_to_count_borrows',
       'avg_repay_to_avg_borrow', 'net_outstanding_to_total_borrowed',
       'net_outstanding_to_total_repaid', 'count_redeems_to_count_deposits',
       'total_redeemed_to_total_deposits', 'avg_redeem_to_avg_deposit',
       'net_deposits_to_total_deposits', 'net_deposits_to_total_redeemed',
       'avg_liquidation_to_avg_borrow', 'dex_total_sum_added',
       'dex_total_sum_removed', 'dex_total_sum_swapped', 'liquidated',
       'calc_start_time', 'added_at', 'total_liquidation_to_total_borrow',
       '__index_level_0__', 'Total_liquidation_to_total_borrow'],
      dtype='object')